.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.li-container {
  display: flex;
  flex-direction: row;
}
.heading {
  padding: 10px;
  font-size: 25px;
}
.paragraph {
  font-size: 16px;
  padding: 10px;
}
.button {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  color: black;
}
.text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
